<ion-view class="login-view">
  <ion-content scroll="false" >
    <div class="login-input-div-outer">
      <div class="row row-center box-height">
          <div class="col"> 
            <input class="user-id" type="text" placeholder="username">
            <input class="user-name" type="text" placeholder="Full Name">
            <a href="/#/app/language"><button class="fb-Btn">
            submit</button></a>
          </div>
      </div>  
      <!-- <div class="fb-Btn">
        Log in with Facebook<i class="ion-social-facebook"></i>
      </div> -->
    </div>
  </ion-content>
</ion-view>

